.contact-details-page {
  margin: 20px auto;
  width: fit-content;
  padding: 20px 50px;
  border: 1px solid #eceaea;
  border-radius: 15px;
  background-color: white;

  & > :not(:last-child) {
    margin-block-end: 10px;
  }
  .actions {
    width: 100%;

    & > :not(:last-child) {
      margin-inline-end: 10px;
    }
    a {
      background-color: #fdefff;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      cursor: pointer;

      &:hover {
        background-color: #e2cddd;
      }
    }
  }
}
