.contact-preview {
  border-radius: 20px;
  background-color: #fdefff;
  padding: 30px;
  cursor: pointer;
  color: #021b32;

  &:hover {
    background-color: #e2cddd;
  }

  img {
    margin-inline-end: 10px;
    width: 50px;
  }
}
